body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.map__image {
    position: relative;
    width: 43%;
    float: left;
    left: 5%;
}

.map__image path {
    fill: #2e2e2e;
    stroke: white;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.map__image path:hover {
    fill: #919191;
}

[id*='NA-']{
    cursor: pointer;
}